<% provide(:title, "Entre no site") %>
<h1>Entre no site</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Entre no site" %>
  </p>
<% end %>

<p>Novo no site? <%= link_to 'Cadastr-se agora!', signup_path %>
