<% provide(:title, "Cadastre-se") %>
<h1>Cadastre-se</h1>

<%= form_for(@usuario) do |f| %>
  <%= render 'shared/error_messages' %>

  <p>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Confirme sua senha" %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Criar minha conta" %>
  </p>
<% end %>
