<header>
  <%= image_tag("logo.png", alt: "MicroBlog IT", class: "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Início", root_url %></li>
      <li><%= link_to "Sobre", sobre_url %></li>
      <% if logado? %>
        <li><%= link_to "Perfil", usuario_logado %></li>
        <li><%= link_to "Sair", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Entre no site", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
