<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo_completo(yield(:title)) %></title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', media: 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  media: 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= image_tag("logo.png", alt: "MicroBlog IT", class: "round") %>
        <nav class="round">
          <ul>
            <li><%= link_to "Início", '#' %></li>
            <li><%= link_to "Sobre", '#' %></li>
            <li><%= link_to "Crie sua conta", '#' %></li>
          </ul>
        </nav>
      </header>
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>

