<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo_completo(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/cabecalho' %>
      <section class="round">
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/rodape' %>
    </div>
    <section>
      <%= debug(params) if Rails.env.development? %>
    </section>
  </body>
</html>

