<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo_completo(yield(:title)) %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/cabecalho' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/rodape' %>
    </div>
  </body>
</html>

